.content {
    width: 95%;
    margin: 0% 2.5% 0% 2.5%;
}

.header {
    margin: 0px 0px 0px 0px;
    font-family: "Segoe Script";
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    width: 49%;
    margin: 0px 0.5% 0px 0.5%;
    vertical-align: top;
}

td:hover {
    width: 49%;
    margin: 0px 0.5% 0px 0.5%;
    vertical-align: top;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px;
    padding: 0px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.copyright {
    text-align: right;
    font-size: 10px;
    color: darkslategrey;
}

.display {
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px darkslategrey);
}
