body {
    background: url("images/background.png") fixed no-repeat;
    background-size: cover;
}

.content {
    width: 95%;
    margin: 0% 2.5% 0% 2.5%;
}

.header {
    margin: 0px 0px 0px 0px;
    font-family: "Segoe Script";
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    width: 49%;
    margin: 0px 0.5% 0px 0.5%;
    vertical-align: top;
}

td:hover {
    width: 49%;
    margin: 0px 0.5% 0px 0.5%;
    vertical-align: top;
    cursor: pointer;
}

td:active {
    width: 49%;
    margin: 0px 0.5% 0px 0.5%;
    vertical-align: top;
    cursor: pointer;
    background: #cccccc;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px;
    padding: 0px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.copyright {
    text-align: right;
    font-size: 10px;
    color: darkslategrey;
}

.display {
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px grey);
}

.navigator {
    display: inline-block;
    list-style: none;
    padding: 0px;
    border: 1px solid #aaaaaa;
    margin: 0px;
}

.navigator li {
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.counter {
    display: inline-block;
}

.designer {
    color: #aaaaaa;
    font-size: 12px;
}